<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="shortcut icon" href="/static/img/tamgo.svg" />
</head>
<body>
<div class="container">
    <ul>
        <li><a href="/" onClick="window.location.reload(true)">Home</a></li>
        <li><a href="/auth/register" onClick="window.location.reload(true)">Register</a></li>
        <li><a href="/auth/login" onClick="window.location.reload(true)">Login</a></li>
        <li><a class="active" href="/auth/profile" onClick="window.location.reload(true)">Profile</a></li>
        <li><a href="/auth/logout" onClick="window.location.reload(true)">Logout</a></li>
    </ul>
</div>

</body>
</html>
